<mat-nav-list>
  <mat-list-item routerLink="/dashboard">
    <mat-icon mat-list-icon>home</mat-icon>
    <h4 mat-line class="navTitle">Dashboard</h4>
  </mat-list-item>
  <mat-list-item routerLink="/e-wallet">
    <mat-icon mat-list-icon>account_balance_wallet</mat-icon>
    <h4 mat-line class="navTitle">E-Wallet</h4>
  </mat-list-item>
  <mat-list-item routerLink="/affiliates">
    <mat-icon mat-list-icon>group</mat-icon>
    <h4 mat-line class="navTitle">Affiliates</h4>
  </mat-list-item>
  <mat-list-item routerLink="/events">
    <mat-icon mat-list-icon>calendar_today</mat-icon>
    <h4 mat-line class="navTitle">Events</h4>
  </mat-list-item>
  <mat-list-item routerLink="/payments">
    <mat-icon mat-list-icon>payment</mat-icon>
    <h4 mat-line class="navTitle">Payments</h4>
  </mat-list-item>
  <mat-list-item routerLink="/manage-business">
    <mat-icon mat-list-icon>shop</mat-icon>
    <h4 mat-line class="navTitle">Manage My Business</h4>
  </mat-list-item>
  <mat-list-item routerLink="/settings">
    <mat-icon mat-list-icon>settings</mat-icon>
    <h4 mat-line class="navTitle">Settings</h4>
  </mat-list-item>
</mat-nav-list>
