<div fxLayout="row" style="margin-top: 20px" fxLayoutAlign="end center">
  <button mat-raised-button color="primary">Refer a Friend</button>
</div>
<div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="50px">
  <mat-card fxFlex="45%">
    <mat-card-header fxLayout="column" fxLayoutAlign="center center">
     <h4> Your Portfolio Value</h4>
      <h1>0.00BTC</h1>
    </mat-card-header>
    <mat-card-content>
      <canvas id="myChart">
      </canvas>
    </mat-card-content>
  </mat-card>
  <mat-card fxFlex="25%">
    <img mat-card-image src="assets/card.png">
    <mat-card-content>
      <p>Membership: Prime Plus</p>
      <p>Trading Account: 266.7 CCRB</p>
      <p>Mining Balance: 266.7 CCRB</p>
      <p>Mining Pending: 266.7 CCRB</p>
      <p>Total: 266.7 CCRB</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" fxFill>Upgrade</button>
    </mat-card-actions>
  </mat-card>
</div>
<div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center center" style="margin-top: 20px">
  <mat-card fxFlex="23">
    <mat-card-header>
      <div mat-card-avatar class="header-image"></div>
      CryptoCarbon(CCRB)
    </mat-card-header>
    <mat-card-content>
      <p fxLayoutAlign="center">266.7 CCRB</p>
    </mat-card-content>
  </mat-card>
  <mat-card fxFlex="23">
    <mat-card-header>
      <div mat-card-avatar class="header-image"></div>
      CryptoCarbon(CCRB)
    </mat-card-header>
    <mat-card-content>
      <p fxLayoutAlign="center">266.7 CCRB</p>
    </mat-card-content>
  </mat-card>
  <mat-card fxFlex="23">
    <mat-card-header>
      <div mat-card-avatar class="header-image"></div>
      CryptoCarbon(CCRB)
    </mat-card-header>
    <mat-card-content>
      <p fxLayoutAlign="center">266.7 CCRB</p>
    </mat-card-content>
  </mat-card>
  <mat-card fxFlex="23">
    <mat-card-header>
      <div mat-card-avatar class="header-image"></div>
      CryptoCarbon(CCRB)
    </mat-card-header>
    <mat-card-content>
      <p fxLayoutAlign="center">266.7 CCRB</p>
    </mat-card-content>
  </mat-card>
</div>
